In [13]:
import pandas as pd
import os
from sklearn.preprocessing import LabelEncoder, OneHotEncoder, KBinsDiscretizer
import numpy as np

In [14]:
labelencoder = LabelEncoder()
onehotendoer = OneHotEncoder()
kbin = KBinsDiscretizer(n_bins=200)

In [15]:
DATA_DIR = os.path.join(os.getcwd(), "data", "mix_data.csv")

In [16]:
df = pd.read_csv(DATA_DIR)
df

,user_id,location,age,isbn,rating,book_title,book_author,year_of_publication,publisher,img_s,img_m,img_l
0,2,"stockton, california, usa",18.000000,0195153448,0.0,Classical Mythology,Mark P. O. Morford,2002.0,Oxford University Press,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...
1,8,"timmins, ontario, canada",34.744129,0002005018,5.0,Clara Callan,Richard Bruce Wright,2001.0,HarperFlamingo Canada,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...
2,11400,"ottawa, ontario, canada",49.000000,0002005018,0.0,Clara Callan,Richard Bruce Wright,2001.0,HarperFlamingo Canada,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...
3,11676,"n/a, n/a, n/a",34.744129,0002005018,8.0,Clara Callan,Richard Bruce Wright,2001.0,HarperFlamingo Canada,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...
4,41385,"sudbury, ontario, canada",34.744129,0002005018,0.0,Clara Callan,Richard Bruce Wright,2001.0,HarperFlamingo Canada,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...
...,...,...,...,...,...,...,...,...,...,...,...,...
1031127,278851,"dallas, texas, usa",33.000000,0743203763,0.0,As Hogan Said . . . : The 389 Best Things Anyo...,Randy Voorhees,2000.0,Simon &amp; Schuster,http://images.amazon.com/images/P/0743203763.0...,http://images.amazon.com/images/P/0743203763.0...,http://images.amazon.com/images/P/0743203763.0...
1031128,278851,"dallas, texas, usa",33.000000,0767907566,5.0,All Elevations Unknown: An Adventure in the He...,Sam Lightner,2001.0,Broadway Books,http://images.amazon.com/images/P/0767907566.0...,http://images.amazon.com/images/P/0767907566.0...,http://images.amazon.com/images/P/0767907566.0...
1031129,278851,"dallas, texas, usa",33.000000,0884159221,7.0,Why stop?: A guide to Texas historical roadsid...,Claude Dooley,1985.0,Lone Star Books,http://images.amazon.com/images/P/0884159221.0...,http://images.amazon.com/images/P/0884159221.0...,http://images.amazon.com/images/P/0884159221.0...
1031130,278851,"dallas, texas, usa",33.000000,0912333022,7.0,The Are You Being Served? Stories: 'Camping In...,Jeremy Lloyd,1997.0,Kqed Books,http://images.amazon.com/images/P/0912333022.0...,http://images.amazon.com/images/P/0912333022.0...,http://images.amazon.com/images/P/0912333022.0...
1031131,278851,"dallas, texas, usa",33.000000,1569661057,10.0,"Dallas Street Map Guide and Directory, 2000 Ed...",Mapsco,1999.0,American Map Corporation,http://images.amazon.com/images/P/1569661057.0...,http://images.amazon.com/images/P/1569661057.0...,http://images.amazon.com/images/P/1569661057.0...

In [17]:
df.dropna(inplace=True)

In [18]:
df = df[['user_id', 'age', 'book_author', 'year_of_publication', 'publisher', 'rating']]

In [19]:
df

,user_id,age,book_author,year_of_publication,publisher,rating
0,2,18.000000,Mark P. O. Morford,2002.0,Oxford University Press,0.0
1,8,34.744129,Richard Bruce Wright,2001.0,HarperFlamingo Canada,5.0
2,11400,49.000000,Richard Bruce Wright,2001.0,HarperFlamingo Canada,0.0
3,11676,34.744129,Richard Bruce Wright,2001.0,HarperFlamingo Canada,8.0
4,41385,34.744129,Richard Bruce Wright,2001.0,HarperFlamingo Canada,0.0
...,...,...,...,...,...,...
1031127,278851,33.000000,Randy Voorhees,2000.0,Simon &amp; Schuster,0.0
1031128,278851,33.000000,Sam Lightner,2001.0,Broadway Books,5.0
1031129,278851,33.000000,Claude Dooley,1985.0,Lone Star Books,7.0
1031130,278851,33.000000,Jeremy Lloyd,1997.0,Kqed Books,7.0
1031131,278851,33.000000,Mapsco,1999.0,American Map Corporation,10.0

In [8]:
df.iloc[:, 2] = labelencoder.fit_transform(df.iloc[:, 2])
df.iloc[:, 4] = labelencoder.fit_transform(df.iloc[:, 4])
df.iloc[:, 0] = KBinsDiscretizer(n_bins=200,encode="ordinal",strategy="uniform").fit_transform(df.iloc[:, 0].values.reshape(-1, 1))
df.iloc[:, 2] = KBinsDiscretizer(n_bins=200,encode="ordinal",strategy="uniform").fit_transform(df.iloc[:, 2].values.reshape(-1, 1))
df.iloc[:, 4] = KBinsDiscretizer(n_bins=200,encode="ordinal",strategy="uniform").fit_transform(df.iloc[:, 4].values.reshape(-1, 1))

/home/peiji/anaconda3/envs/mytorch/lib/python3.9/site-packages/pandas/core/indexing.py:1773: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(ilocs[0], value, pi)
/home/peiji/anaconda3/envs/mytorch/lib/python3.9/site-packages/pandas/core/indexing.py:1835: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value[:, i].tolist(), pi)
/home/peiji/anaconda3/envs/mytorch/lib/python3.9/site-packages/pandas/core/indexing.py:1835: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value[:, i].tolist(), pi)
/home/peiji/anaconda3/envs/mytorch/lib/python3.9/site-packages/pandas/core/indexing.py:1835: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value[:, i].tolist(), pi)

In [20]:
df.nunique()

user_id                 92106
age                        93
book_author            101587
year_of_publication       109
publisher               16727
rating                     11
dtype: int64

In [10]:
data1 = onehotendoer.fit_transform(df).toarray()

In [12]:
data1.shape

(1031132, 813)

In [9]:
data = np.array(df)

In [10]:
data1 = onehotendoer.fit_transform(data).toarray()

MemoryError: Unable to allocate 1.58 TiB for an array with shape (1031132, 210633) and data type float64

In [14]:
data = [(data[i][:-1], data[i][-1]) for i in range(data.shape[0])]

In [15]:
a = data[11]

In [17]:
a[1]

8.0

In [16]:
list(a[0])

[200273.0, 34.744129035351655, 81140.0, 2001.0, 6653.0]

In [27]:
dfa = onehotendoer.fit_transform(data).toarray()

MemoryError: Unable to allocate 5.42 TiB for an array with shape (1031132, 721849) and data type float64